@font-face {
  font-family: 'LTF';
  src: url('fonts/fonts/mmn.otf') format('opentype');
}

      
* {
    font-family: 'LTF';
}
  
      
.menu-nav a {
  position: relative;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.menu-nav a::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: orange;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.menu-nav a:hover::after,
.menu-nav a:focus::after,
.menu-nav a:active::after {
  width: 100%;
}
